<h1>Seja Bem-Vindo</h1>
<ul>
	<li>
		<a href="http://127.0.0.1:3000/kinds">Tipos de Contatos</a>
	</li>
	<li>
		<a href="http://127.0.0.1:3000/adresses">Endereços</a>
	</li>
	<li>
		<a href="http://127.0.0.1:3000/contacts">Contatos</a>
	</li>
	<li>
		<a href="http://127.0.0.1:3000/phones">Telefones</a>
	</li>
</ul>